<footer class="footer">
  <div class="newsletter-wrapper">
    <div>
      <h2 class="footer-heading">Join The Newsletter</h2>
      <p class="footer-call">Stay up to date with the 2019 MLH League.</p>
      <form action="">
        <input type="email">
        <button>Submit</button>
      </form>
    </div>
  </div>
  <div class="site-footer">
    <div class="content">
      <div class="footer-info">
        <a href="https://mlh.io" class="mlh-logo white hidden-xs" alt="Major League Hacking" title="Major League Hacking"></a>
        <p class="text-right text-center-xs">Major League Hacking, Inc &copy; 2018</p>
      </div>
    </div>  
  </div>
</footer>