<div class="under-nav {{pageClass}}">
  {{> ../_includes/site_nav}}
  <div class="content">
    <h1 class="hero-title">{{title}}</h1>
    <p class="hero-description">{{description}}</p>
    {{#if logo}}
      <img src="{{logo}}">
    {{/if}}
  </div>
</div>