{{!-- {% if page.navigation.html %} --}}
{{!-- {{ page.navigation.html }} --}}
{{!-- {% else %} --}}
<li><a href="#">Link A</a></li>
<li><a href="#">Link B</a></li>
<li><a href="#">Link C</a></li>
<li><a href="#">Link D</a></li>
<li><a href="#" class="btn btn-flat-red">CTA 1</a></li>
<li><a href="#" class="btn btn-flat-blue">CTA 2</a></li>
<li><a href="#" class="btn btn-flat-yellow">CTA 3</a></li>
{{!-- {% endif %} --}}