<nav class="main-nav headroom headroom">
  <div class="nav-content content">
    <div class="visible-sm hamburger-button">
      <div class='hamburger-inner'></div>
    </div>
    <a href="/" class="logo main-logo nav-left">
      <img src='img/logos/mlh-logo-color.svg' alt="Major League Hacking" />
    </a>
    <ul class="desktop-nav hidden-sm">
      <li class="reveal nav-item pointable">
        <span class="underlineable">Resources</span>
        <div class="dropdown-wrapper">
          <ul class="revealed-menu">
            <li class="dropdown-item">
              <a class="nav-link-group" href="https://careerlab.mlh.io">
                <img class="nav-item-icon" src="img/nav-logos/careers.png"/>
                <div>
                  <span class="nav-link-text">Careers & Internships</span>
                  <p>Find the perfect role for your skillset</p>
                </div>
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-link-group" href="https://careerlab.mlh.io">
                <img class="nav-item-icon" src="img/nav-logos/coding.png"/>
                <div>
                  <span class="nav-link-text">Coding Challenges</span>
                  <p>Test yourself and hone your abilities</p>
                </div>
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-link-group" href="https://careerlab.mlh.io">
                <img class="nav-item-icon" src="img/nav-logos/gifts.png"/>
                <div>
                  <span class="nav-link-text">Freebies & Perks</span>
                  <p>Free tools and discounted devices</p>
                </div>
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-link-group" href="https://careerlab.mlh.io">
                <img class="nav-item-icon" src="img/nav-logos/organize.png"/>
                <div>
                  <span class="nav-link-text">Organize a Hackathon</span>
                  <p>Everything you need to host a hackathon</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="reveal nav-item pointable">
        <span class="underlineable">Hackathons</span>
        <div class="dropdown-wrapper">
          <ul class="revealed-menu">
            <li class="dropdown-item">
              <a class="nav-link-group" href="https://careerlab.mlh.io">
                <img class="nav-item-icon" src="img/nav-logos/hackathons.png"/>
                <div>
                  <span class="nav-link-text">Hackathons</span>
                  <p>Official MLH Hackathons worldwide</p>
                </div>
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-link-group" href="https://careerlab.mlh.io">
                <img class="nav-item-icon" src="img/nav-logos/localhost.png"/>
                <div>
                  <span class="nav-link-text">LocalHost</span>
                  <p>Hackathons on a smaller scale</p>
                </div>
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-link-group" href="https://careerlab.mlh.io">
                <img class="nav-item-icon" src="img/nav-logos/hackday.png"/>
                <div>
                  <span class="nav-link-text">Local Hack Day</span>
                  <p>Simlutaneous hacking across the globe</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="reveal nav-item pointable">
        <span class="underlineable">About</span>
        <div class="dropdown-wrapper">
          <ul class="revealed-menu">
            <li class="dropdown-item">
              <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">
                <span class="nav-link-text">About Major League Hacking</span>
                <p>
                  MLH is the official student hackathon league, powering over 200 weekend-long invention competitions that inspire innovation, cultivate communities and teach computer science skills to more than 65,000 students worldwide.
                </p>
              </a>
            </li>
            <li class="nav-about-group">
              <div class="border"></div>
            </li>
            <li class="dropdown-item">
              <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">
                <span class="nav-link-text">FAQs</span>
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">              
                <span class="nav-link-text">Contact Us</span>
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">
                <span class="nav-link-text">MLH Shop</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item pointable signed-out">
        <a class="lego-btn lego-btn-white login">Log In</a>
      </li>
      <li class="nav-item pointable signed-out">
        <a class="lego-btn">Sign Up</a>
      </li>
      <li class="reveal nav-item pointable reveal nav-item logged-in-btns">
        <span class="underlineable username">Caroline Z.</span>
        <div class="dropdown-wrapper">
          <ul class="revealed-menu">
            <li class="dropdown-item">
              <a class="nav-link-group" href="https://careerlab.mlh.io">
                <img class="account-circle" src="https://randomuser.me/api/portraits/thumb/women/65.jpg" class="nav-icon"/>
                <div>
                  <span class="nav-link-text">Caroline Zavakos</span>
                  <p>Edit profile</p>
                </div>
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">
                <span class="nav-link-text">My Hackathons</span>
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">              
                <span class="nav-link-text">Tufts Hackers</span>
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-about-group nav-link-group logout" href="#">
                <span class="nav-link-text">Log Out</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="down"></div>
        <img class="account-circle" src="https://randomuser.me/api/portraits/thumb/women/65.jpg"/>
      </li>
    </ul>
    <div class="visible-sm">
      <a class="lego-btn lego-btn-white login signed-out pointable">Log in</a>
      <img class="nav-item-icon account-circle logged-in-btns mobile-account-circle pointable" src="https://randomuser.me/api/portraits/thumb/women/65.jpg"/>
    </div>
  </div>
  <div class="mobile-nav">
    <div class="nav-menu">
      <div class="close-menu">
        <div class="close-menu-inner"></div>
      </div>
      <ul class="desktop-nav">
        <li class="reveal nav-item pointable">
          <span class="underlineable">Resources</span>
          <div class="dropdown-wrapper">
            <ul class="revealed-menu">
              <li class="dropdown-item">
                <a class="nav-link-group" href="https://careerlab.mlh.io">
                  <img class="nav-item-icon" src="img/nav-logos/careers.png"/>
                  <div>
                    <span class="nav-link-text">Careers & Internships</span>
                    <p>Find the perfect role for your skillset</p>
                  </div>
                </a>
              </li>
              <li class="dropdown-item">
                <a class="nav-link-group" href="https://careerlab.mlh.io">
                  <img class="nav-item-icon" src="img/nav-logos/coding.png"/>
                  <div>
                    <span class="nav-link-text">Coding Challenges</span>
                    <p>Test yourself and hone your abilities</p>
                  </div>
                </a>
              </li>
              <li class="dropdown-item">
                <a class="nav-link-group" href="https://careerlab.mlh.io">
                  <img class="nav-item-icon" src="img/nav-logos/gifts.png"/>
                  <div>
                    <span class="nav-link-text">Freebies & Perks</span>
                    <p>Free tools and discounted devices</p>
                  </div>
                </a>
              </li>
              <li class="dropdown-item">
                <a class="nav-link-group" href="https://careerlab.mlh.io">
                  <img class="nav-item-icon" src="img/nav-logos/organize.png"/>
                  <div>
                    <span class="nav-link-text">Organize a Hackathon</span>
                    <p>Everything you need to host a hackathon</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="reveal nav-item pointable">
          <span class="underlineable">Hackathons</span>
          <div class="dropdown-wrapper">
            <ul class="revealed-menu">
              <li class="dropdown-item">
                <a class="nav-link-group" href="https://careerlab.mlh.io">
                  <img class="nav-item-icon" src="img/nav-logos/hackathons.png"/>
                  <div>
                    <span class="nav-link-text">Hackathons</span>
                    <p>Official MLH Hackathons worldwide</p>
                  </div>
                </a>
              </li>
              <li class="dropdown-item">
                <a class="nav-link-group" href="https://careerlab.mlh.io">
                  <img class="nav-item-icon" src="img/nav-logos/localhost.png"/>
                  <div>
                    <span class="nav-link-text">LocalHost</span>
                    <p>Hackathons on a smaller scale</p>
                  </div>
                </a>
              </li>
              <li class="dropdown-item">
                <a class="nav-link-group" href="https://careerlab.mlh.io">
                  <img class="nav-item-icon" src="img/nav-logos/hackday.png"/>
                  <div>
                    <span class="nav-link-text">Local Hack Day</span>
                    <p>Simlutaneous hacking across the globe</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="reveal nav-item pointable">
          <span class="underlineable">About</span>
          <div class="dropdown-wrapper">
            <ul class="revealed-menu">
              <li class="dropdown-item">
                <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">
                  <span class="nav-link-text">About Major League Hacking</span>
                  <p>
                    MLH is the official student hackathon league, powering over 200 weekend-long invention competitions that inspire innovation, cultivate communities and teach computer science skills to more than 65,000 students worldwide.
                  </p>
                </a>
              </li>
              <li class="nav-about-group">
                <div class="border"></div>
              </li>
              <li class="dropdown-item">
                <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">
                  <span class="nav-link-text">FAQs</span>
                </a>
              </li>
              <li class="dropdown-item">
                <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">              
                  <span class="nav-link-text">Contact Us</span>
                </a>
              </li>
              <li class="dropdown-item">
                <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">
                  <span class="nav-link-text">MLH Shop</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item pointable signed-out">
          <a class="lego-btn">Sign Up</a>
        </li>
      </ul>
    </div>
    <div class="account-menu">
      <div class="close-menu">
        <div class="close-menu-inner"></div>
      </div>
      <ul class="revealed-menu">
        <li class="dropdown-item">
          <a class="nav-link-group" href="https://careerlab.mlh.io">
            <img class="account-circle" src="https://randomuser.me/api/portraits/thumb/women/65.jpg" class="nav-icon"/>
            <div>
              <span class="nav-link-text">Caroline Zavakos</span>
              <p>Edit profile</p>
            </div>
          </a>
        </li>
        <li class="dropdown-item">
          <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">
            <span class="nav-link-text">My Hackathons</span>
          </a>
        </li>
        <li class="dropdown-item">
          <a class="nav-about-group nav-link-group" href="https://careerlab.mlh.io">              
            <span class="nav-link-text">Tufts Hackers</span>
          </a>
        </li>
        <li class="dropdown-item">
          <a class="nav-about-group nav-link-group logout" href="#">
            <span class="nav-link-text">Log Out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>