<nav class="site-nav">
  <div class="content">
    <div class="sub-nav-left">
      <a href="/">
        <img class="site-logo" src="/img/logos/season-19-logo.png"/>
        <span class="logo-text">2019 Hackathon Season</span>
      </a>
    </div>
    <div class="hidden-sm desktop-nav">
      <ul class="sub-nav-right">
        {{> site_nav_links}}
      </ul>
    </div>

    <div class="visible-sm">
      <div class="current-active underlineable"></div>
      {{!-- <ul class="sub-nav-right mobile">
        {{> site_nav_links}}
      </ul> --}}
    </div>
  </div>
</nav>