        <li><a class="secondary-nav-link" href="./page1.html">Day-Of Resources</a></li>
        <li><a class="secondary-nav-link" href="">Workshops</a></li>
        <li><a class="secondary-nav-link" href="">Activities</a></li>
        <li><a class="secondary-nav-link" href="">APIs & Freebies</a></li>
        <li><a class="secondary-nav-link" href="">Sponsors</a></li>
        <li><a class="secondary-nav-link" href="">Help</a></li>