<nav class="site-nav">
  <div class="content">
    <div class="sub-nav-left">
      <a href="/"><img class="logo" src="/img/logos/season-19-logo.png"/></a>
      <div class="sub-nav-control visible-sm down"></div>
    </div>
    <div class="hidden-sm hello">
      <ul class="sub-nav-right">
        {{> site_nav_links }}
      </ul>
    </div>

    <div class="visible-sm">
      <div class="current-active"></div>
      <ul class="sub-nav-right mobile">
        {{> site_nav_links }}
      </ul>
    </div>
  </div>
</nav>