<nav class="site-nav headroom">
  <div class="content">
    <div class="sub-nav-left">
      <a href="/"><img class="logo" src="/img/logos/localhost.png"/></a>
      <div class="sub-nav-control visible-md down"></div>
    </div>
    <div class="hidden-md hello">
      <ul class="sub-nav-right">
        <li><a class="secondary-nav-link" href="./prizes.html">Prizes</a></li>
        <li><a class="secondary-nav-link" href="">Software</a></li>
        <li><a class="secondary-nav-link" href="">Hardware</a></li>
      </ul>
    </div>

    <div class="visible-md">
      <div class="current-active"></div>
      <ul class="sub-nav-right mobile">
        <li><a class="secondary-nav-link" href="./page1.html">Prizes</a></li>
        <li><a class="secondary-nav-link" href="">Software</a></li>
        <li><a class="secondary-nav-link" href="">Hardware</a></li>
      </ul>
    </div>
  </div>
</nav>