<nav class="site-nav headroom">
  <div class="content">
    <div class="sub-nav-left">
      <a href="/"><img class="logo" src="/img/logos/localhost.png"/></a>
      <div class="sub-nav-control visible-md down"></div>
    </div>
    <div class="hidden-md hello">
      <ul class="sub-nav-right">
        {{> site_nav_links}}
      </ul>
    </div>

    <div class="visible-md">
      <div class="current-active"></div>
      <ul class="sub-nav-right mobile">
        {{> site_nav_links}}
      </ul>
    </div>
  </div>
</nav>