<li><a class="secondary-nav-link" href="./prizes.html">Prizes</a></li>
<li><a class="secondary-nav-link" href="./software.html">Software</a></li>
<li><a class="secondary-nav-link" href="./hardware.html">Hardware</a></li>
