<li><a class="secondary-nav-link underlineable" href="./page1.html">Day-Of Resources</a></li>
<li><a class="secondary-nav-link underlineable" href="">Workshops</a></li>
<li><a class="secondary-nav-link underlineable" href="">Activities</a></li>
<li><a class="secondary-nav-link underlineable" href="">APIs & Freebies</a></li>
<li><a class="secondary-nav-link underlineable" href="">Sponsors</a></li>
<li><a class="secondary-nav-link underlineable" href="">Help</a></li>
