<nav class="site-nav">
  <div class="content">
    <div class="sub-nav-left">
      <a href="/"><img class="logo" src="/img/logos/localhost.png"/></a>
      <div class="sub-nav-control visible-md down"></div>
    </div>
    <div class="hidden-md hello">
      <ul class="sub-nav-right">
        <li><a class="secondary-nav-link" href="./page1.html">Day-Of Resources</a></li>
        <li><a class="secondary-nav-link" href="">Workshops</a></li>
        <li><a class="secondary-nav-link" href="">Activities</a></li>
        <li><a class="secondary-nav-link" href="">APIs & Freebies</a></li>
        <li><a class="secondary-nav-link" href="">Sponsors</a></li>
        <li><a class="secondary-nav-link" href="">Help</a></li>
      </ul>
    </div>

    <div class="visible-md">
      <div class="current-active"></div>
      <ul class="sub-nav-right mobile">
        <li><a class="secondary-nav-link" href="/page1.html">Day-Of Resources</a></li>
        <li><a class="secondary-nav-link" href="">Workshops</a></li>
        <li><a class="secondary-nav-link" href="">Activities</a></li>
        <li><a class="secondary-nav-link" href="">APIs & Freebies</a></li>
        <li><a class="secondary-nav-link" href="">Sponsors</a></li>
        <li><a class="secondary-nav-link" href="">Help</a></li>
      </ul>
    </div>
  </div>
</nav>