<li><a class="secondary-nav-link underlineable {{[isLinkActive] htmlWebpackPlugin.options.pageName "./page"}}" href="./page">Day-Of Resources</a></li>
<li><a class="secondary-nav-link underlineable {{[isLinkActive] htmlWebpackPlugin.options.pageName ""}}" href="">Workshops</a></li>
<li><a class="secondary-nav-link underlineable {{[isLinkActive] htmlWebpackPlugin.options.pageName ""}}" href="">Activities</a></li>
<li><a class="secondary-nav-link underlineable {{[isLinkActive] htmlWebpackPlugin.options.pageName ""}}" href="">APIs & Freebies</a></li>
<li><a class="secondary-nav-link underlineable {{[isLinkActive] htmlWebpackPlugin.options.pageName ""}}" href="">Sponsors</a></li>
<li><a class="secondary-nav-link underlineable {{[isLinkActive] htmlWebpackPlugin.options.pageName ""}}" href="">Help</a></li>
