@charset 'utf-8';

// Typography
$os-light-weight: 300;
$os-normal-weight: 400;
$os-bold-weight: 700;

$base-font-body: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
$base-font-body-weight: $os-normal-weight;

$base-font-header: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
$base-font-header-line-height: 1.5;
$base-font-header-weight: $os-bold-weight;

$base-font-size: 16px;
$base-line-height: 1.9;

// Layout
$content-width: 70rem;

// Colors
$white: #FFFFFF;
$black: #000000;
$dark-gray: #353535;
$medium-gray: #676869;
$light-gray: #F7F9F9;

$deep-red: #751B00;
$deep-blue: #162F51;
$deep-yellow: #ECC700;
$soft-red: #C53C02;
$soft-blue: #265A8F;
$soft-yellow: #FDEE00;

// Media Queries
$phone-portrait:   480px;  //Extra Small
$phone-landscape:  640px;
$tablet-portrait:  768px;  // Small
$tablet-landscape: 1024px; // Medium
$desktop:          1440px; // Large
$xl-desktop:       1920px;
$xxl-desktop:      10000px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import 'lib/reset.min';
@import 'lib/animate.min';
@import 'util';
@import 'base';
@import 'typography';
@import 'button';
@import 'layout';
@import 'navbar';
@import 'custom';
