html,
body {
  background-color: $white;
  box-sizing: border-box;
  font-family: $base-font-body;
  font-size: $base-font-size;
  font-weight: $base-font-body-weight;
  height: auto;
  line-height: $base-line-height;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  background: blue;
}

input {
  color: $black;
  font-family: $base-font-body;
  font-size: $base-font-size;
  font-weight: $base-font-body-weight;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
}

*, *:before, *:after, *:focus {
  box-sizing: inherit;
  outline: none;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;

  > svg {
    rect, polygon {
      fill: $white;
    }
  }
}
