body {
  background-color: white;
}

.prizes {
  background: url('../img/prizes-background.png');
  .hero-title, .hero-description, .secondary-nav-link, .logo-text {
    color: black !important;
  }
  .secondary-nav-link:before {
    background: black !important;
  }
}

.software {
  background: url('../img/software-background.png');
  .hero-title, .hero-description, .secondary-nav-link {
    color: white !important;
  }

  .mobile {
    .secondary-nav-link {
      color: #0f2382 !important;
    }
    li:hover {
      background-color: #35469d !important;
      .secondary-nav-link {
        color: white !important;
      }
    }
  }

  .secondary-nav-link:before {
    background: white !important;
  }
}

.hardware {
  background: url('../img/hardware-background.png');
  .hero-title, .hero-description, .secondary-nav-link {
    color: white !important;
  }
  .secondary-nav-link:before {
    background: white !important;
  }
}

.under-nav {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  min-height: 400px;

  img {
    display: block;
    margin: 0 auto;
  }
}

.content {
  margin: 0 auto;
  .hero-title, .hero-description {
    text-align: center;
    padding: 0 8px;
  }
}

.site-footer {
  background: #2d3343;
  color: $white;
  height: 110px;
  padding: 1rem 0.5rem;

  .content {
    height: 100%;
  }

  .footer-info {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  img {
    height: 2rem;
  }

  p {
    line-height: 2rem;
    vertical-align: middle;
    margin: 0;
  }

  .mlh-logo.white {
    background-position: center left;
    display: block;
    height: 37px;
    width: 100px;
  }

}

.footer {
  background: url('../img/footer-background.png');
  background-size: cover;
  background-position: center;
}

.newsletter-wrapper {
  min-height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-heading {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 29px;
    font-weight: 700;
    /* Text style for "Join The N" */
    margin-bottom: 7px;
    letter-spacing: -0.46px;
    text-align: center;
  }
  .footer-call {
    text-align: center;
    color: #c4c5dd;
    font-family: "Open Sans";
    font-size: 17px;
    /* Text style for "Stay up to" */
    letter-spacing: -0.27px;
  }

  form {
    display: flex;
    flex-direction: row;

    input {
      width: 301px;
      height: 37px;
      border-radius: 7px;
      margin-right: 10px;
    }

    button {
      box-shadow: 0 0 10px rgba(44, 193, 45, 0.22);
      background-color: #32e069;
      color: white;
      border: none;
      padding: 7px 25px;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      /* Text style for "Submit" */
      letter-spacing: -0.22px;
    }
  }
}

// styles for software

.sponsor-logo {
  width: 101px;
  font-size: 16px;
}

.software-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 123px;
}
.software-item-wrapper {
  background-color: #ffffff;
  margin: 2%;
  width: 46%;
  display: flex;
  justify-content: center;
  padding: 24px 0;
}
.software-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;

  .name, .tag-line, .description {
    max-width: 353px;
  }

  .sponsor-logo {
    margin-bottom: 8px;
  }

  .tag-line {
    margin-bottom: 16px;
    color: #239f38;
    font-family: "Open Sans";
    font-size: 11px;
    text-transform: uppercase;
    /* Text style for "12,000 rec" */
    letter-spacing: -0.14px;
  }

  .name {
    color: #39393a;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    /* Text style for "Algolia Se" */
    letter-spacing: -0.25pxfont-size;
    margin-bottom: 0px;
  }

  .description {
    margin-bottom: 19px;
    color: #7f7f7f;
    font-family: "Open Sans";
    font-size: 13px;
    /* Text style for "Authorize." */
    letter-spacing: -0.16px;
  }

  .perk-list {
    align-self: flex-start;
  }

  .perk-link {
    a {
      color: #5a75f0;
    }
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 16px;
    /* Text style for "• 1 Free D" */
    letter-spacing: -0.16px;
  }

  .perk-link:before {
    content: "•";
    color: #5a75f0;
    margin-right: 5px;
  }

  .perk-link:hover {
    cursor: pointer;
  }
}

.software-item-wrapper:nth-child(1) {
  width: 682px;
  background-color: #ffffff;
  .name {
    font-size: 20px;
  }
  .tag-line {
    font-size: 11px;
  }
  .sponsor-logo {
    width: 112px;
  }
  .description {
    font-size: 16px;
  }
  .perk-link {
    font-size: 13px;
  }
}

@media screen and (max-width: $phone-landscape) {
  .software-item-wrapper {
    width: 96%;
    .software-item {
      padding: 24px 16px;;
    }
  }

  .software-list {
    margin-bottom: 90px;
  }

  .newsletter-wrapper {
    form {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      input {
        margin: 0;
      }

      button {
        width: 100%;
        max-width: 301px;
        margin-top: 12px;
      }
    }
  }

  .footer-info {
    justify-content: center !important;
  } 
}

// end styles for software

// styles for prizes
.prizes-content {
  background: white;
}

.more-prizes {
  .heading {
    color: #2c2d41;
    font-family: "Open Sans";
    font-size: 25px;
    /* Text style for "And More P" */
    letter-spacing: -0.31px;
    text-align: center;
  }
}

.more-prizes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .prize-item {
    width: 25%;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .prize-item:last-child {
    margin-right: auto;
    margin-left: 8%;
  }

  .prize-title {
    color: #32414e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
    /* Text style for "Best use o" */
    letter-spacing: -0.2px;
    margin-bottom: 0;
    text-align: center;
  }

  .prize-name {
    color: #565963;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 29px;
    /* Text style for "Casio CA-5" */
    letter-spacing: -0.16px;
    margin-bottom: 0;
  }

  .prize-description {
    color: #565963;
    font-family: "Open Sans";
    font-size: 14px;
    /* Text style for "Use Algoli" */
    letter-spacing: -0.06px;
    font-style: italic;
  }

  .prize-link {
    max-width: 150px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    background-color: #1d7eff;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    /* Text style for "Getting St" */
    letter-spacing: -0.17px;
    padding: 8px 16px;
  }

  .underline {
    width: 99px;
    height: 1px;
    margin-bottom: 24px;
    background-color:  #979797;
  }

  .header-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.featured {
  background: url('../img/featured-background.png');
  background-size: cover; 
  padding-bottom: 100px;
  background-position: -100px;
  .prize-item {
    width: 100%;
    padding: 70px 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    align-items: center;

    .prize-info {
      width: 65%;
      padding: 8px;
    }

    .prize-title {
      color: #1f243d;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: -0.25px;
      margin-bottom: 0;
    }

    .prize-name {
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 29px;
      font-style: italic;
      font-weight: 200;
      margin-bottom: 32px;
      letter-spacing: -0.2px;
    }

    .prize-description {
      color: #383838;
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 25px;
      /* Text style for "Use Author" */
      letter-spacing: -0.17px;
      margin-bottom: 32px;
      padding-right: 32px;
    }

    .prize-link {
      border-radius: 4px;
      background-color: #1d7eff;
      color: white;
      display: inline-block;
      padding: 0 32px;
      line-height: 33px;
      transition: background-color .2s ease;
    }

    .prize-link:hover {
      background: #0f2382;
      text-decoration: none;
    }
  }

  .prize-item:not(:last-child):after {
    content: "";
    height: 1px;
    width: 100%;
    background:#b5b3b3;
    position: absolute;
    bottom: 0;
  }
}

.medals-container {
  background: url("../img/medals.png");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.medals-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.medals-title {
  text-align: center;
  color: #32414e;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 25px;
  font-weight: 600;
  /* Text style for "Top Teams" */
  letter-spacing: -0.31px;
  margin-bottom: 0;
}

.medals-description {
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 52px;
  max-width: 557px;
  color: #32414e;
  font-family: "Open Sans";
  font-weight: 200;
  font-size: 17px;
  font-weight: 300;
  /* Text style for "Place in t" */
  letter-spacing: -0.21px;
  padding: 0 8px;
}

.medal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8px;

  img {
    width: 90%;
    margin-bottom: 14px;
  }

  img:hover {
    margin-top: -2px;
    margin-bottom: 16px;
  }

  h4 {
    color: #32414e;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 600;
    /* Text style for "First Plac" */
    letter-spacing: -0.31px;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    color: #32414e;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 200;
    line-height: 26px;
    /* Text style for "For many o" */
    letter-spacing: -0.19px;
    text-align: center;
    max-width: 311px;
    padding: 0 16px;
  }
}
.prize-link:hover {
  background: #0f2382;
  text-decoration: none;
}

@media screen and (max-width: $phone-landscape) {
  .featured {
    .prize-item {
      flex-direction: column-reverse;
      
      .prize-info {
        width: 100%;
        align-items: center;
      }
    }
  }
  .more-prizes {
    .prize-item {
      width: 45%;
    }
  }

  .medals-wrapper {
    flex-direction: column;
    .medal {
      flex-direction: row;
      margin-bottom: 15px;
    }
    img {
      width: 40%;
    }
    .medal:nth-child(2) {
      flex-direction: row-reverse;
    }
  }  
}

@media screen and (max-width: $phone-portrait) {
  .more-prizes {
    .prize-item {
      width: 95%;
    }
  }
}
// end of prizes styles

// hardware styles

.hardware-list-wrapper {
  background-color: #f3f5f9;
  background-size: cover;
  background-position: center;
  .hardware-partner {
    height: 16px;
    margin-bottom: 16px;
  }  
}

.component-list-wrapper {
  background: url('../img/bottom.png');
  background-color: #f3f5f9;
  background-size: cover;
  padding-top: 200px;
}

.hardware-item {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 50px 0;
}

.hardware-item:not(:last-child):after {
  content: '';
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #ba9797;
  position: absolute;
  bottom: 1;
}

.hardware-info {
  margin-left: 46px;
}

.hardware-sponsor-name {
  position: relative;
  color: #000000;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  /* Text style for "Amazon Ech" */
  letter-spacing: -0.27px;
  margin-bottom: 12px;
}

.hardware-sponsor-name:after {
  content: '';
  bottom: -5px;
  left: 0;
  width: 60px;
  height: 5px;
  position: absolute;
  border-radius: 2px;
  background: #ac0808;
}

.partner-button {
  width: 108px;
  height: 33px;
  border-radius: 4px;
  background-color: #ac0808;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  /* Text style for "Shop" */
  letter-spacing: -0.15px;
  border: none;
}

.browse-devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  h2 {
    color: #232323;
    font-family: "Open Sans";
    font-size: 25px;
    /* Text style for "Components" */
    letter-spacing: -0.31px;
  }

  p {
    color: #232323;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 200;
    /* Text style for "All the ma" */
    letter-spacing: -0.25px;
    padding: 0 16px;
  }
  button {
    height: 73px;
    border-radius: 4px;
    background-color: #1d7eff;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    /* Text style for "Browse & R" */
    letter-spacing: -0.22px;
    border: none;
  }
}

.component-list-wrapper {
  .components-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .component-list {
    display: flex; 
    flex-wrap: wrap;
    
    li {
      flex: 1 0 30%;
      margin: 5px;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 13px;
      line-height: 26.5px;
      /* Text style for "EL Wire -" */
      letter-spacing: -0.16px;
    }

  }
  h2 {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 600;
    /* Text style for "Coponents" */
    letter-spacing: -0.44px;
  }
  p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 300;
    /* Text style for "All the ma" */
    letter-spacing: -0.25px;
    margin-top: 64px;
  }

  img {
    margin-bottom: 26px;
  }

  button {
    border-radius: 4px;
    background-color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    /* Text style for "Browse & R" */
    letter-spacing: -0.22px;
    height: 73px;
    border: none;
    margin-bottom: 82px;
  }
}

@media screen and (max-width: $phone-landscape) {
  .content {
    padding: 0 16px;
  }
  .component-list-wrapper {
    .component-list {
      li {
        flex: 1 0 45%;
      }
    }
  }

  .hardware-item {
    display: flex;
    flex-direction: column;
    
    .hardware-img {
      margin-left: 46px;
      width: fit-content;
    }
  }
}

@media screen and (max-width: $phone-portrait) {
  .component-list-wrapper {
    .component-list {
      li {
        flex: 1 0 95%;
      }
    }
  }
}
// end of hardware