$nav-blue: #4052a4;
$nav-bottom-shadow: #f5f5f5;
$mobile-nav-border: #e5e5e5;
$hover-color: #f9f9f9;
$link-text-color: #1c1e20;
$link-description-color: #959595;
$nav-link-border-color: #d5d5d5;
// shared styling below
nav {
  min-width: 240px;
  .content::after {
    content: none;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.lego-btn {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  font-size: 1rem;
  background-color: $nav-blue;
  border-radius: 0.0625rem;
  border: 0.0625rem solid $nav-blue;
  color: $white;
  height: 3rem;
  padding: 0.8125rem 1.5rem;
  transition: all .15s ease;
}

.lego-btn:hover {
  background-color: $white;
  border: 0.0625rem solid $nav-blue;
  color: $nav-blue;
}

.lego-btn.lego-btn-white {
  color: $nav-blue;
  background-color: $white;        
}

.lego-btn.lego-btn-white:hover {
  color: $white;        
  background-color: $nav-blue;
}

.hamburger-button {
  cursor: pointer;
  height: 100%;
  width: 3rem;
}

.hamburger-inner {
  position: relative;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  background-color: $nav-blue;
  border-radius: 0.125rem;
  height: 0.1875rem;
  width: 1.5rem;
}

.hamburger-inner::after {
  top: -0.5625rem;
}

.hamburger-inner::before {
  top: 0.5625rem;
}

.logo {
  margin-top: 0.5rem;
  width: 8.125rem;
}

.pointable {
  cursor: pointer;
}

.underlineable {
  position: relative;
}

.underlineable:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $nav-blue;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.15s ease-in-out 0s;
}

.underlineable:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

// above shared styling

// below global-nav-styling
.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-103%);
}

.main-nav {
  background-color: $white;
  box-shadow: 0 0.125rem 0 $nav-bottom-shadow;
  display: flex;
  height: 4.5rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;

    .desktop-nav {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: flex-end;

      .nav-item {
        margin-left: 1.875rem;
      }

      .reveal:hover {
        .dropdown-wrapper {
          visibility: visible;
          opacity: 1;
        }

        .underlineable:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
        .down {
          transform: rotate(540deg);
        }
      }
      
      .reveal:last-child {
        .dropdown-wrapper {
          left: 25% !important;
          transform: translate(-50%, 0);
        }
      }

      .reveal {
        position: relative;
        height: 50%;
        display: flex;
        align-items: center;

        .dropdown-wrapper {
          visibility: hidden;
          opacity: 0;
          padding-top: 1.4625rem;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          top: 24px;
          width: 18.75rem;
          transition: all .2s ease;

          .revealed-menu {
            background-color: $white;
            border: 0.0625rem solid $mobile-nav-border;
            margin: 0;
            max-width: 18.75rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding: 0;
            position: relative;

            .nav-link-group {
              display: flex;
              flex-direction: row;
              padding: 1.5rem;
  
              div {
                margin-left: 1rem;
              }
  
              .nav-link-text {
                color: $link-text-color;
              }

              p {
                color: $link-description-color;
                line-height: 1.5rem;
                padding-right: 1rem;
              }
            }
  
            .nav-about-group {
              display: block;
              padding: 1rem 2rem;
            }
          }

          .revealed-menu:after, .revealed-menu:before {
            content: '';
            display: block;
            height: 0;
            position: absolute;
            width: 0;
          }
  
          .revealed-menu:after {
            border: 0.5rem solid transparent;
            border-bottom-color: $white;
            left: calc(50% - 0.5rem);
            top: -16px;
          }
  
          .revealed-menu:before {
            border: 0.5625rem solid transparent;
            border-bottom-color: $mobile-nav-border;
            left: calc(50% - 0.5625rem);
            top: -18px;
          }

          p {
            margin: 0;
            padding: 0;
          }
  
          .dropdown-item:hover {
            background-color: $hover-color;
            .nav-link-text {
              color: $nav-blue;
            }
          }
          
        }
        
      }
      .logged-in-btns {
        display: none;
        align-items: center;
        
        .down {
          border-left: 0.25rem solid transparent;
          border-right: 0.25rem solid transparent;
          border-top: 0.25rem solid $link-text-color;
          height: 0;
          margin-left: 0.625rem;
          transition: all .3s ease;
          width: 0;
        }
      
        .account-circle {
          border-radius: 50%;
          height: 3rem;
          margin-left: 0.625rem;
          width: 3rem;
        }
  
        .dropdown-item:nth-child(1) {
          background-color: $hover-color;
          border-bottom: 1px solid $mobile-nav-border;
          height: 7.5rem;
          width: 100%;
        }
      }
    }
  }
}

.logged-in-btns {
  display: none;
}

.nav-menu {
  background-color: $white;
  overflow: auto;
  box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.5);
  border-radius: 0.125rem;
  padding-top: 1.875rem;
  position: fixed;
  transition: all .2s ease;
  width: 18.75rem;
  min-height: 100vh;
  height: 100%;
  left: 0;
  transform: translateX(-110%);
  padding-bottom: 100px;
  
  .chevron-right:hover:after {
    transform: rotate(-135deg);
  }

  .chevron-right:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -20px;
    border-left: 2px solid $nav-blue;
    border-top: 2px solid $nav-blue;
    width: 10px; height: 10px;
    transition: all .3s ease;
    transform: rotate(-225deg);
  }

  .desktop-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    .nav-item {
      padding: 10px 25px;
    }
  }

  .reveal {
    .dropdown-wrapper {
      position: fixed;
      // left: -100%;
      left: 0;
      transform: translateX(-110%);
      transition: all .2s ease;
      height: 100%;
      min-height: 100vh;
      overflow: auto;
      width: 18.75rem;
      top: 0;
      background: white;
      z-index: 10;
      box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.5);
      
      .underlineable {
        display: inline-block;
        margin-top: 15px;
        margin-left: 35px;
      }

      .underlineable:before {
        width: 100%;
        transform: scaleX(1);
        visibility: visible;
      }

      .underlineable:after {
        content: '';
        position: absolute;
        top: 13px;
        left: -20px;
        border-right: 2px solid $nav-blue;
        border-bottom: 2px solid $nav-blue;
        width: 10px; height: 10px;
        transform: rotate(-225deg);
      }
    }

    .menu-open {
      z-index: 100;
      transform: translateX(0%);
      padding-bottom: 100px;

      .close-menu {
        z-index: 101;
      }
    }
  }

}

.nav-link-group {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1.5rem;

  img {
    margin-top: 10px;
  }

  div {
    margin-left: 1rem;
  }

  .nav-link-text {
    color: $link-text-color;
  }

  p {
    color: $link-description-color;
    line-height: 1.5rem;
    padding-right: 1rem;
  }
}

.nav-about-group {
  display: block;
  padding: 1rem 2rem;
}

.border {
  background-color: $nav-link-border-color;
  height: 0.0625rem;
  margin-left: 0;
  width: 100%;
}

.account-circle {
  border-radius: 50%;
  height: 2rem;
  margin-left: 0.625rem;
  width: 2rem;
}

.account-menu {
  .dropdown-item:nth-child(1) {
    background-color: $hover-color;
    border-bottom: 1px solid $mobile-nav-border;
    height: 7.5rem;
    width: 100%;
    padding-top: 1.5rem;

    img {
      width: 3rem;
      height: 3rem;
    }
  }
}

.dropdown-item:hover {
  background-color: $hover-color;
  .nav-link-text {
    color: $nav-blue;
  }
}

.close-menu {
  cursor: pointer;
  height: 1.25rem;
  padding: 0.625rem 1.3125rem 1.9375rem 1.1875rem;
  position: absolute;
  right: 0.75rem;
  top: 0.5625rem;
  width: 1.25rem;
  // z-index: 100;
}

.close-menu-inner, .close-menu-inner:after {
  background-color: $nav-blue;
  border-radius: 0.125rem;
  content: '';
  height: 1.4375rem;
  transform: rotate(-45deg);
  width: 0.1875rem;
}

.close-menu-inner:after {
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(90deg);
}

.nav-menu.is-active {
  transform: translateX(0%);
}

.account-menu {
  background: #fff;
  height: 100vh;
  min-height: 100%;
  width: 18.75rem;
  right:0;
  position: absolute;
  transform: translateX(105%);
  transition: all .2s ease;
  box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.5);
}

.account-menu.is-active {
  transform: translateX(0%);
}

.nav-menu {
  .revealed-menu {
    padding-top: 15px;
  }
}

@media screen and (max-width: $tablet-portrait) {
  .main-logo {
    position: absolute;
    width: 7rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .signed-out {
    height: 2rem;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}