$secondary-nav-color: grey;
$current-color: #e45b6b;

.site-nav {
  z-index: 999;
  background-color: white;
  position: fixed;
  top: 72px;
  height: 72px;
  width: 100%;
  transition: top cubic-bezier(0.71,-0.04, 0.32, 1.07) .2s;

  .logo {
    margin-top: 9px;
  }

  .content {
    height: 100%;
    background-color: white;
    z-index: 998;
    display: flex;
    align-items: center;
    float: none;
    padding: 0 1.25em;
    justify-content: space-between;
  }

  .sub-nav-left {
    display: flex;
    align-items: center;
  }

  .up {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    
    border-bottom: 8px solid $secondary-nav-color;
  }

  .down {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    
    border-top: 8px solid $secondary-nav-color;
  }

  .sub-nav-control {
    margin-left: 10px;
    transition: linear .2s;
  }


  .sub-nav-control:hover {
    cursor: pointer;
  }

  .hello {
    display: flex;
    height: 100%;
    align-items: center;
    
    .secondary-nav-link {
      color: $secondary-nav-color;
      text-decoration: none;
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 16px;
      padding-bottom: 8px;
      /* Text style for "Workshop" */
      letter-spacing: -0.2px;
    }

    .secondary-nav-link:hover {
      cursor: pointer;
      border-bottom: 2px solid $secondary-nav-color;
    }

    ul {
      display: flex;
      justify-content: space-between;
      li {
        margin-left: 30px;
      }
      .current {
        color: $current-color;
        border-bottom: 2px solid $current-color;    
      }
    }
    
  }

  .current-active {
    color: $current-color;
  }

  .content:after {
    content: none;
  }

  .mobile {
    // display: none;
    width: 100%;
    z-index: -1;
    // max-width: 414px;
    background-color: #f9f9f9;
    box-shadow: 0px 12px 56px -12px rgba(0, 0, 0, 0.43);
    position: absolute;
    left: 0;
    top: -300px;

    li {
      padding: 15px 0;
      transition: background-color .2s ease-out 0s;
      // padding-left: 65px;
    }

    li:hover {
      background: #e45b6b;
      .secondary-nav-link {
        color: #f9f9f9;
      };  
    }

    li:nth-child(1) .secondary-nav-link {
      transition: 
        opacity .3s ease 0.01s, 
        margin .3s cubic-bezier(0.74,-0.21, 0.47, 1.46) 0.01s,
        color .5s ease 0s;
    }

    li:nth-child(2) .secondary-nav-link {
      transition: 
        opacity .3s ease 0.06s, 
        margin .3s cubic-bezier(0.74,-0.21, 0.47, 1.46) 0.06s,
        color .5s ease 0s;
    }
    li:nth-child(3) .secondary-nav-link {
      transition: 
        opacity .3s ease 0.12s, 
        margin .3s cubic-bezier(0.74,-0.21, 0.47, 1.46) 0.12s,
        color .5s ease 0s;
    }
    li:nth-child(4) .secondary-nav-link {
      transition: 
        opacity .3s ease 0.18s,
        margin .3s cubic-bezier(0.74,-0.21, 0.47, 1.46) 0.18s,
        color .5s ease 0s;
    }
    li:nth-child(5) .secondary-nav-link {
      transition: 
        opacity .3s ease 0.24s, 
        margin .3s cubic-bezier(0.74,-0.21, 0.47, 1.46) 0.24s,
        color .5s ease 0s;
    }
    li:nth-child(6) .secondary-nav-link {
      transition: 
        opacity .3s ease 0.30s, 
        margin .3s cubic-bezier(0.74,-0.21, 0.47, 1.46) 0.30s,
        color .5s ease 0s;
    }

    .secondary-nav-link {
      padding: 0;
      margin: 0;
      opacity: 0;
      margin-left: -50px;
      color: #e45b6b;
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 16px;
      /* Text style for "Day-Of Res" */
      letter-spacing: -0.2px;
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
    
    .lol {
      margin-left: 40px;
      opacity: 1;
    }
    
  }
}