@mixin clearfix {
  &::after {
    clear: both;
    content: ' ';
    display: block;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@mixin animation_delay($seconds) {
  transition: 
    color 0.5s ease 0s,
    left 0.3s ease $seconds,
    opacity 0.3s ease 0.01s;
}