<li class="dropdown-item">
  <a class="nav-link-group" href="https://my.mlh.io/edit" target="_blank">
    <img class="account-circle nav-icon" alt="user acount picture" src=""/>
    <div>
      <span class="nav-link-text username"></span>
      <p>Edit profile</p>
    </div>
  </a>
</li>
<li class="dropdown-item">
  <a class="nav-about-group nav-link-group logout" href="#">
    <span class="nav-link-text">Log Out</span>
  </a>
</li>