{{#> layouts/default}}
  {{#*inline "content-block"}}
    {{> _includes/hero 
      title="Hardware"
      description="Borrow the latest & greatest hardware devices and components to use in your project this weekend."
      pageClass=htmlWebpackPlugin.options.pageName
    }}
    <ul>
      {{#each htmlWebpackPlugin.options.hardware}}
        <li>{{this.product_name}}</li>
      {{/each}}
    </ul>
  {{/inline}}
{{/layouts/default}}