{{#> layouts/default}}
  {{#*inline "content-block"}}
    <h1>Title h1</h1>
    <a class="lego-btn">button</a>
    <a class="lego-btn lego-btn-white">another button</a>
    <br>
    <br>
    <h2>Title h2</h2>    
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur laboriosam expedita ratione reprehenderit temporibus, dolores debitis vel, necessitatibus, ea molestiae vero nam laborum adipisci quas rerum minima quod doloremque eum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi doloribus nostrum commodi totam? Ipsam natus sapiente pariatur itaque fugiat temporibus libero, modi veniam quam corporis consectetur autem doloribus dolorem accusantium?
    </p>

    <h2>Forms</h2>
    <xmp class="codeblock">
    <form action="">
      <div class="row">
        <label class="col-2 col-xs-12" for="">Name</label>
        <input class="col-5 col-xs-12" type="text">
      </div>
      <div class="row">
        <label class="col-2 col-xs-12" for="">Email</label>
        <input class="col-5 col-xs-12" type="email">
      </div>
      <div class="row">
        <label class="col-2 col-xs-12" for="">Password</label>
        <input class="col-5 col-xs-12" type="password"> 
      </div>
      <button class="lego-btn">Submit</button>
    </form>
    </xmp>
    <form action="">
      <div class="row">
        <label class="col-2 col-xs-12" for="">Name</label>
        <input class="col-5 col-xs-12" type="text">
      </div>
      <div class="row">
        <label class="col-2 col-xs-12" for="">Email</label>
        <input class="col-5 col-xs-12" type="email">
      </div>
      <div class="row">
        <label class="col-2 col-xs-12" for="">Password</label>
        <input class="col-5 col-xs-12" type="password"> 
      </div>
      <button class="lego-btn">Submit</button>
    </form>
    <br>
    <br>
    <h2>Layout</h2>

    <h3>Content</h3>
    <xmp>
      <div class="content"></div>
    </xmp>
    <h3>Responsive Grid</h3>
    <xmp class="codeblock">
      <div class="row">
        <div class="col-6 col-xs-12">col-6 col-xs-12</div>
        <div class="col-6 col-xs-12">col-6 col-xs-12</div>
      </div>
      <div class="row">
        <div class="col-2 col-xs-4">col-xs-4</div>
        <div class="col-8 col-xs-4">col-xs-4</div>
        <div class="col-2 col-xs-4">col-xs-4</div>
      </div>
      <div class="row">
        <div class="col-2">col-2</div>
        <div class="col-10">col-10</div>
      </div>
    </xmp>
    <div class="grid">
      <div class="row">
        <div class="col-6 col-xs-12">col-6 col-xs-12</div>
        <div class="col-6 col-xs-12">col-6 col-xs-12</div>
      </div>
      <div class="row">
        <div class="col-2 col-xs-4">col-2 col-xs-4</div>
        <div class="col-8 col-xs-4">col-8 col-xs-4</div>
        <div class="col-2 col-xs-4">col-2 col-xs-4</div>
      </div>
      <div class="row">
        <div class="col-2">col-2</div>
        <div class="col-10">col-10</div>
      </div>
    </div>
  {{/inline}}
{{/layouts/default}}