<!DOCTYPE html>
<html>
  <head>
    {{> ./_includes/head}}
  </head>

  <body {{#if htmlWebpackPlugin.options.site.title}} class="{{ htmlWebpackPlugin.options.site.custom_class }}" {{/if}}>

    {{> ./_includes/main_nav}}

    {{> ./_includes/site_nav}}

    <div class="content below-menu">
      
    </div>

    {{> ./_includes/footer}}
  </body>
</html>