<!DOCTYPE html>
<html>
  <head>
    {{> ./_includes/head}}
  </head>

  <body {{#if htmlWebpackPlugin.options.site.title}} class="{{ htmlWebpackPlugin.options.site.custom_class }}" {{/if}}>

    {{!-- {{> ./_includes/main_nav}}
    {{> ./_includes/site_nav}} --}}

    <div class="content below-menu">
      <div class="ha">click</div>
      <div class="hello">hello</div>
    </div>
    <style>
      .ha {
        width: 100px;
        height: 100px;
        background: red;
      }
      .lol {
        opacity: 1;
        visibility: visible;
      }
      .hidden {
        opacity: 0;
        visibility: hidden;
      }
      .hello {
        width: 100px;
        height: 100px;
        background: green;
        transition: all 1s;
      }
      
    </style>
    {{!-- {{> ./_includes/footer}} --}}
  </body>
    <script>
      $('.ha').click(function(){
        console.log('I werked')
        if($('.hello').hasClass('lol')){
          $('.hello').removeClass('lol')
          $('.hello').addClass('hidden') 
        } else {
          $('.hello').addClass('lol')
          $('.hello').removeClass('hidden') 
        }
      })
    </script>
</html>