{{#> layouts/default}}
  {{#*inline "content-block"}}
    <div class="{{htmlWebpackPlugin.options.pageName}}">
      <h1>Prizes</h1>
      <div>We partnered with some amazing technology companies to get you FREE access to their APIs this weekend.</div>
    </div>
    <ul>
      {{#each htmlWebpackPlugin.options.prizes}}
        <li>{{this.title}}</li>
      {{/each}}
    </ul>
  {{/inline}}
{{/layouts/default}}