{{#> layouts/default}}
  {{#*inline "content-block"}}
    {{> _includes/hero 
      title="Prizes"
      description="Win awesome prizes, hacker gear, & swag by competing in one of these challenges and using new APIs."
      pageClass=htmlWebpackPlugin.options.pageName
    }}
    <ul>
      {{#each htmlWebpackPlugin.options.prizes}}
        <li>{{this.title}}</li>
      {{/each}}
    </ul>
  {{/inline}}
{{/layouts/default}}