<!DOCTYPE html>
<html>
  <head>
    {{> ../_includes/head}}
  </head>

  <body>
    <div class="prevent-overflow">
      {{#> nav-block}}
        {{> ../_includes/main_nav/main_nav}}

        {{> ../_includes/site_nav}}
      {{/nav-block}}

      {{#> content-block}}{{/content-block}}
      
      {{#> footer-block}}
        {{> ../_includes/footer}}
      {{/footer-block}}
    </div>
  </body>
</html>