<!DOCTYPE html>
<html>
  <head>
    {{> ../_includes/head}}
  </head>

  <body>
    {{#> nav-block}}
      {{> ../_includes/main_nav}}

      {{> ../_includes/site_nav}}
    {{/nav-block}}

    {{#> content-block}}{{/content-block}}
    {{!-- <li class="dropdown-item">
      <a class="nav-link-group" href="https://careerlab.mlh.io">
        <div class="nav-item-icon">
          <img src="img/nav-logos/careers.png"/>
        </div>
        <div>
          <span class="nav-link-text">Careers & Internships</span>
          <p>Find the perfect role for your skillset</p>
        </div>
      </a>
    </li>
    <li class="mobile-main-links">
      <a class="nav-link-group" href="https://careerlab.mlh.io">
        <img class="nav-item-icon" src="img/nav-logos/hackathons.png"/>
        <span class="nav-link-text">Hackathons</span>
      </a>
    </li> --}}
    
    {{#> footer-block}}
      {{> ../_includes/footer}}
    {{/footer-block}}
  </body>
</html>